{% extends 'BasePage.html' %}

{% block Title %}
善心捐款
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/donate_title.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/donate.css')}}">
{% endblock %}

{% block navbar %}
	<a href="/" class="nav-item nav-link">首頁</a>
    <a href="/about" class="nav-item nav-link">關於我們</a>
    <a href="/adopt" class="nav-item nav-link">我要認養</a>
    <a href="/donate" class="nav-item nav-link active">善心捐款</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">更多平台</a>
        <div class="dropdown-menu m-0">
            <a href="https://www.savedogs.org/" class="dropdown-item" target="_blank">台灣緊急救援小組</a>
            <a href="https://www.packtw.org/find-a-dog" class="dropdown-item" target="_blank">台灣巴克幫</a>
            <a href="https://wepet.tw/" class="dropdown-item" target="_blank">Wepet寵物資訊平台</a>
            <a href="https://act-adopt.ahiqo.ntpc.gov.tw/" class="dropdown-item" target="_blank">新北市動物保護防疫處</a>
            <a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceMent.aspx?PageType=Adopt" class="dropdown-item" target="_blank">全國收容系統</a>
           
        </div>
    </div>
    <a href="/contact" class="nav-item nav-link">聯絡我們</a>
{% endblock %}	

{% block mainPage %}

    <div class="page-title">
        <div>
            <div class="title-text">
                <h1>幫助毛小孩不再挨餓</h1>
            </div>
            <div class="donate_choose">
                <div>
                    <div class="choose"><a href="/donate">線上捐款</a></div>
                    <div class="choose"><a href="/donate_order">認購飼料</a></div>
                </div>                
            </div>
        </div>        
    </div>

    <!--線上捐款頁籤-->
    <div class="donate_online">
        <div>
            <div class="content-title">
                <h2>線上捐款選項</h2>
            </div>
            <div class="chose_area">
                <ul>
                    <a href="#regular"><li class='li_choose'>信用卡定期定額捐款</li></a>
                    <a href="#creditcard"><li class='li_choose'>信用卡單筆捐款</li></a>
                    <a href="#paypal"><li class='li_choose'>海外信用卡 PayPal 捐款</li></a>
                    <a href="#ATM"><li class='li_choose'>ATM 虛擬帳號捐款</li></a>
                    <a href="#jkos"><li class='li_choose'>街口支付 QR Code 捐款</li></a>
                </ul>
            </div>
        </div>
        <div id="regular">
            <div class="donate_block">
                <div class="block_title">
                    <h3>信用卡定期定額捐款</h3>
                </div>
                <div class="block_content">
                    <p>手續費</p>
                    <span>捐款人須支付手續費：0元/筆；台灣之心須支付手續費：2.1%/筆</span>
                    <p></p>
                    <div class="block_a">
                         <a href="#">進行定期定額捐款</a>
                    </div>
                </div>
            </div>    
        </div>   
        <div id="creditcard">
            <div id="#faq-2" class="donate_block">
                <div class="block_title">
                    <h3>信用卡單筆捐款</h3>
                </div>
                <div class="block_content">
                    <p>手續費</p>
                    <span>捐款人須支付手續費：0元/筆；台灣之心須支付手續費：1.81%/筆</span>
                    <p></p>
                    <div class="block_a">
                         <a href="#">進行信用卡單筆捐款</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="paypal">
            <div class="donate_block">
                <div class="block_title">
                    <h3>PayPal 捐款</h3>
                </div>
                <div class="block_content">
                    <p>手續費</p>
                    <span>捐款人須支付手續費：0元/筆； 台灣之心須支付手續費：4.4%+10元/筆</span>
                    <p></p>
                    <div class="block_a">
                         <a href="#">進行PayPal 捐款</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="ATM">
            <div class="donate_block">
                <div class="block_title">
                    <h3>ATM 虛擬帳號捐款</h3>
                </div>
                <div class="block_content">
                    <p style="font-size: 20px; font-weight: bold;">手續費</p>
                    <span>捐款人須支付手續費：跨行轉帳15元/筆、同行轉帳0元/筆；台灣之心須支付手續費：8元/筆</span>
                    <p></p>
                    <div class="block_a">
                         <a href="#">進行ATM 虛擬帳號捐款</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="jkos">
            <div class="donate_block">
                <div class="block_title">
                    <h3>街口支付</h3>
                </div>
                <div class="steps">
                    <ol>
                        <li>QR code
                        </li>
                        <img src="https://hotac.org.tw/images/summer/f13eebc844a493726440958b51d81553.png">
                        <li>打開「街口支付」選取首頁選項中的「公益捐款」</li>
                        <img src="https://hotac.org.tw/images/summer/7f6f1a392ce5c501f63981f75dbb8d73.png">
                        <li>篩選「所有公益團體」，並點選「社團法人台灣之心愛護動物協會」</li>
                        <img src="https://hotac.org.tw/images/summer/e054126c06d908638a81189a64f14e80.png">
                        <img src="https://hotac.org.tw/images/summer/3dc8dbdaffdea911a226abee051fcd51.png">
                        <li>至「社團法人台灣之心愛護動物協會」頁面內，選取「捐款項目」中的「愛心捐款助浪浪」</li>
                        <img src="https://hotac.org.tw/images/summer/3b4b5f36549baab92ec637a02bdefd37.png">
                        <li>點選「我要捐款」</li>
                        <img src="https://hotac.org.tw/images/summer/7ffcd194d646db81f5d9c26cc9440e38.png">
                        <li>填寫捐款金額（單筆上限300,000元）</li>
                        <img src="https://hotac.org.tw/images/summer/2734f9c77749ef6072d3644d1ee27835.png">
                        <li>若您有需要索取收據或申請電子申報功能，請依照系統提示完整填寫資料
                            <p></p>
                            ◎選擇紙本單次收據將於捐款隔月15日前寄出，年度收據將於捐款隔年2月寄出。
                        </li>
                        <img src="https://hotac.org.tw/images/summer/05c791e6426f9689f53f8fcd5cb68d21.png">
                        <li>完成捐款</li>
                        <img src="https://hotac.org.tw/images/summer/d78b9633c4096b7e5f3eacd5bae62339.png">
                    </ol>
                    
                </div>
                
                <div class="block_content">
                    <p>手續費</p>
                    <span>捐款人須支付手續費：0元/筆； 台灣之心須支付手續費：3%/筆</span>
                    <p></p>
                </div>
            </div>
        </div>
            
    </div> 

    <div class="donat_img">
        <a href="/donate_main" >
            <img src="https://files.hotac.org.tw/link/file/bab27bf1465690fbdecf6d4b9d49e1825ce23321.png" title="其他捐款方式">
        </a>
        
    </div>   
{% endblock %}