{% extends 'BasePage.html' %}

{% block Title %}
關於我們
{% endblock %}

{% block css %}
	<link rel="stylesheet"  href="{{url_for('static',filename='css/about.css')}}">
{% endblock %}

{% block navbar %}
	<a href="/" class="nav-item nav-link">首頁</a>
    <a href="/about" class="nav-item nav-link  active">關於我們</a>
    <a href="/adopt" class="nav-item nav-link">我要認養</a>
    <a href="/donate" class="nav-item nav-link">善心捐款</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">更多平台</a>
        <div class="dropdown-menu m-0">
            <a href="https://www.savedogs.org/" class="dropdown-item" target="_blank">台灣緊急救援小組</a>
            <a href="https://www.packtw.org/find-a-dog" class="dropdown-item" target="_blank">台灣巴克幫</a>
            <a href="https://wepet.tw/" class="dropdown-item" target="_blank">Wepet寵物資訊平台</a>
            <a href="https://act-adopt.ahiqo.ntpc.gov.tw/" class="dropdown-item" target="_blank">新北市動物保護防疫處</a>
            <a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceMent.aspx?PageType=Adopt" class="dropdown-item" target="_blank">全國收容系統</a>
           
        </div>
    </div>
    <a href="/contact" class="nav-item nav-link">聯絡我們</a>
{% endblock %}	


{% block mainPage %}

	<div id="abouttitle">
		
	</div>

	<div id="imgarea">
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_11.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_12.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_14.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_16.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_17.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_19.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_20.jpg"></a>
		</div>
		<div class="image">
			<a href="#"><img src="https://www.savedogs.org/upload/ckeditor/image/offical2018/8img_18.jpg"></a>
		</div>
	</div>
{% endblock %}