{% extends 'BasePage.html' %}

{% block Title %}
捐款支持
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/donate_main.css')}}">
{% endblock %}

{% block navbar %}
	<a href="/" class="nav-item nav-link">首頁</a>
    <a href="/about" class="nav-item nav-link">關於我們</a>
    <a href="/adopt" class="nav-item nav-link">我要認養</a>
    <a href="/donate" class="nav-item nav-link active">善心捐款</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">更多平台</a>
        <div class="dropdown-menu m-0">
            <a href="https://www.savedogs.org/" class="dropdown-item" target="_blank">台灣緊急救援小組</a>
            <a href="https://www.packtw.org/find-a-dog" class="dropdown-item" target="_blank">台灣巴克幫</a>
            <a href="https://wepet.tw/" class="dropdown-item" target="_blank">Wepet寵物資訊平台</a>
            <a href="https://act-adopt.ahiqo.ntpc.gov.tw/" class="dropdown-item" target="_blank">新北市動物保護防疫處</a>
            <a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceMent.aspx?PageType=Adopt" class="dropdown-item" target="_blank">全國收容系統</a>
           
        </div>
    </div>
    <a href="/contact" class="nav-item nav-link">聯絡我們</a>
{% endblock %}	

{% block mainPage %}

    <div class="page-title">
        <div>
            <div class="title-text">
                <h1>捐款支援</h1>
            </div>
        </div>        
    </div>

    <div class="more_choose">
        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/a0169533b697716074f1c86a6af8e032.png">
                <h4>線上捐款</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/5f93c728542a594fb99094fc306c4b08.png">
                <h4>信用卡捐款</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/1ad30b2f4036320da38c25094a4bfe74.png">
                <h4>ATM轉帳</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/f144425f865ea731d4143819d380d428.png">
                <h4>超商代碼</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/597eaace80c8e0b323bb9b7943192e16.png">
                <h4>超商機台</h4>
            </a>
        </div>


        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/6be15a2cf873e6383d13fce680435b9d.png">
                <h4>海外捐款</h4>
            </a>
        </div>

         

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/bcb8491f6a0a7e29318a0796b36eb736.png">
                <h4>募款箱</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/09d1eba38de99305e538b605ef3ed3ac.png">
                <h4>臨櫃匯款</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/cbf45f4a11bf8a5bb4d6daab2c345039.png">
                <h4>紙本授權</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/096faae07fb506aed7ce0369f15bcee1.png">
                <h4>郵政劃撥</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/27cd2b371c14b3692826d037ccb1daab.png">
                <h4>支票或現金</h4>
            </a>
        </div>


        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/5b0e69573ebaa81d456cb3eefd818b84.png">
                <h4>發票捐贈</h4>
            </a>
        </div> 

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/dd82250fbc9b888e5bc25b4b5d9cff8d.png">
                <h4>物資捐贈</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/208442189044f9d42d199f8edc885fd7.png">
                <h4>街口支付</h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/7826381299a5a922d625c52f1545efb7.jpg">
                <h4> LINE Pay </h4>
            </a>
        </div>

        <div class="icon_area">
            <a href="#">
                <img src="https://hotac.org.tw/images/web/4e13bd9e38386c267a19453c70f91c25.png">
                <h4>中華電信電話捐款</h4>
            </a>
        </div>

        <div class="content-title">
            <h2>捐款手續費比較表</h2>
        </div>

        <div class="content-img">
            <img src="https://files.hotac.org.tw/f-37e7b81e5a50ce83720ec45b4fc2fef9">
        </div>

        <div class="content-title">
            <h2>防詐騙提醒</h2>
        </div>
        <div>
            <p>
                親愛的捐款者，您好：<p>
                近期社福界發生多起捐款詐騙事件，提醒各位捐款人，
            </p>
            <div style="height: 40px;"></div>
            <p>台灣之心愛護動物協會</p>
            <ol style="list-style-type: decimal;">
                <li>不會在『非』服務時間致電給您；</li>
                <li>不會要求您變更捐款扣款方式、操作ATM或網路銀行；</li>
                <li>不會主動索取往來銀行電話、信用卡號等金融資料。</li>
            </ol>
            <div style="height: 40px;"></div>
            <p>
                請提高警覺以免上當受騙，如接獲不明及可疑的電話或簡訊提出上述要求時，<p>
                請立即掛斷，並洽本會確認；或儘速反應至警政署反詐騙諮詢專線165。
            </p>
            <div style="height: 20px;"></div>
            <ul>
                <li>連絡電話：(04)-26261478#2</li>
                <li>服務時間：週一到週五09:00~17:00</li>
                <li>內政部警政署全民防騙網址：<a href="https://165.npa.gov.tw/">https://165.npa.gov.tw/</a>
                </li>
            </ul>
        </div>
    </div>

        

  
    <div class="donat_img">
        <a href="/donate_main" >
            <img src="https://files.hotac.org.tw/link/file/bab27bf1465690fbdecf6d4b9d49e1825ce23321.png" title="其他捐款方式">
        </a>
        
    </div> 

    
{% endblock %}