{% extends 'BasePage.html' %}

{% block Title %}
善心捐款
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/donate_title.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/donate_order.css')}}">
{% endblock %}

{% block navbar %}
	<a href="/" class="nav-item nav-link">首頁</a>
    <a href="/about" class="nav-item nav-link">關於我們</a>
    <a href="/adopt" class="nav-item nav-link">我要認養</a>
    <a href="/donate" class="nav-item nav-link active">善心捐款</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">更多平台</a>
        <div class="dropdown-menu m-0">
            <a href="https://www.savedogs.org/" class="dropdown-item" target="_blank">台灣緊急救援小組</a>
            <a href="https://www.packtw.org/find-a-dog" class="dropdown-item" target="_blank">台灣巴克幫</a>
            <a href="https://wepet.tw/" class="dropdown-item" target="_blank">Wepet寵物資訊平台</a>
            <a href="https://act-adopt.ahiqo.ntpc.gov.tw/" class="dropdown-item" target="_blank">新北市動物保護防疫處</a>
            <a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceMent.aspx?PageType=Adopt" class="dropdown-item" target="_blank">全國收容系統</a>
           
        </div>
    </div>
    <a href="/contact" class="nav-item nav-link">聯絡我們</a>
{% endblock %}	

{% block mainPage %}

    <div class="page-title">
        <div>
            <div class="title-text">
                <h1>幫助毛小孩不再挨餓</h1>
            </div>
            <div class="donate_choose">
                <div>
                    <div class="choose"><a href="/donate">線上捐款</a></div>
                    <div class="choose"><a href="/donate_order">認購飼料</a></div>
                </div>                
            </div>
        </div>        
    </div>

    <!--認購飼料頁籤-->
    <div>
        
    </div>    
        <!-- Pricing Plan Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">販售商品</h5>
                <h1 class="display-4">購買糧食直送園區!</h1>
            </div>
            <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="https://aceshop-cdn.com/productimg/bc2a1ec79b84eb63c7d61d521d9096d2c.gif" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="">
                            <h3 class="text-primary">十日份</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">$NT</small>500<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ 份</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>隨機園區</p>
                        <p>浪浪糧食10日量(1份)</p>
                        <p>依照園區缺糧程度決定</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">馬上認購</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="https://aceshop-cdn.com/productimg/b849b22505d9a2ba05d1fdca5ac1109ae.gif" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="">
                            <h3 class="text-primary">5日份+1份鮮食</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">$NT</small>2500<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ 份</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>隨機園區(5份)</p>
                        <p>浪浪糧食10日量(5份)+鮮食</p>
                        <p>依照園區缺糧程度決定</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">馬上認購</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="https://aceshop-cdn.com/productimg/bc57853b705905152190de04ba7f4d2a0.gif" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="">
                            <h3 class="text-primary">10日份+2份鮮食</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">$NT</small>5000<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ 份</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>隨機園區(10份)</p>
                        <p>浪浪糧食10日量(10份)+2份鮮食</p>
                        <p>依照園區缺糧程度決定</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">馬上認購</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="https://pic.pimg.tw/woodsdark1001/1527058715-2257678605_n.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="">
                            <h3 class="text-primary">營養肉泥</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">$NT</small>3600<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ 月 Year</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5">
                        <p>隨機園區(1個月份)</p>
                        <p>(貓狗視園區狀況)營養肉泥</p>
                        <p>依照園區缺糧程度決定</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">馬上認購</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->
{% endblock %}