{% extends "BasePage.html" %}

{% block pagetitle %}
訂單明細
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/portfolio.css">
	<link rel="stylesheet" href="/static/css/cart.css">
	<link rel="stylesheet" href="/static/css/cartordercheck.css">
{% endblock %}

{% block nav %}
    <li><a href="/index">首頁</a></li><!--包含活動資訊-->                   
    <li><a href="/aboutus">關於我們</a></li>     
    <li class="sub-menu sub-menu-1 active"><a href="/nail">服務項目<em></em></a>
        <ul>
            <li><a href="/nail">光療美甲</a></li>
            <li><a href="/shopping">線上購物</a></li>                   
        </ul>                       
    </li>               
    <li><a href="/portfolio">作品集</a></li>                                               
    <li><a href="/contact">預約美甲</a></li>                                            
    <!--<li><a href="/question">常見問題</a></li>-->
    {% if request.session.isAlive %}
    	<li><a href="/member">會員管理</a></li>
    	<li><a href="/myorder">訂單查詢</a></li>
    	<li><a href="/logout">登出</a></li>
    {% else %}
    <li class=""><a href="/login">會員登入</a></li>
    {% endif %}
{% endblock %}

{% block mainContent %}
	<div class="areatitle">
		<div class="titlename">
		    <h1 class="txt">order information</h1>
		    <h3 class="cht">訂單資料</h3>
		</div>
	</div>
	<div id="maindiv">
		<div style="display: flex;align-items: center;justify-content: center;">
		<div class="orderdata">
		{% if nosearch == 1 %} <!--當訂單編號跟email找不到時要做的動作-->
			<form action="/cartordercheck/" method="get">
				<p class="title">訂單查詢</p>
				<table border="0" ailgn="center" cellpadding="10" cellspacing="0">
					<tr>
						<td class="columnname">訂單編號</td>
						<td><input type="text" name="orderid" required /></td>
					</tr>
					<tr>
						<td class="columnname">電子郵件</td>
						<td><input type="text" name="customemail" required /></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="查詢" /></td>
					</tr>
				</table>
			</form>
		{% else %}
			{% if notfound == 1 %}
				<div class="message">對不起，找不到您的訂單資料，請重新查詢</div>
				<form action="/cartordercheck/" method="get">
				<p class="title">訂單查詢</p>
				<table border="0" ailgn="center" cellpadding="10" cellspacing="0">
					<tr>
						<td class="columnname">訂單編號</td>
						<td><input type="text" name="orederid" required /></td>
					</tr>
					<tr>
						<td class="columnname">電子郵件</td>
						<td><input type="text" name="customenail" required /></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="查詢" /></td>
					</tr>
				</table>
			</form>
			{% else %}
				<div class="subjectname">
					<p class="subject">訂單編號:<font color="#ff0000">{{orderid}}</font></p>
				</div>
				<table width="90%" border="0" align="center" cellpadding="4" cellspacing="1">
					<tr>
						<th class="columnname" align="center" bgcolor="#ccc">商品名稱</th>
						<th class="columnname" width="80" align="center" bgcolor="#ccc">單價</th>
						<th class="columnname" width="80" align="center" bgcolor="#ccc">數量</th>
						<th class="columnname" width="100" align="center" bgcolor="ccc">金額</th>
					</tr>	
					{% for unit in details %}
						<tr>
							<td align="center">{{unit.pname}}</td>
							<td align="center">{{unit.unitprice}}</td>
							<td align="center">{{unit.quantity}}</td>
							<td align="center">{{unit.dtotal}}</td>
						</tr>
					{% endfor%}
					<tr>
						<td class="money" colspan="3" align="left"><strong>小計</strong></td>
						<td width="150" align="center"><strong>${{order.subtotal}}</strong></td>
					</tr>
					<tr>
						<td class="money" colspan="3" align="left"><strong>運費</strong></td>
						<td width="150" align="center"><strong>$100</strong></td>
					</tr>
					<tr>
						<td class="money" colspan="3" align="left"><strong>總計</strong></td>
						<td width="150" align="center"><strong>${{order.grandtotal}}</strong></td>
					</tr>
				</table>
				<div class="subjectname">
					<p class="subject">訂單客戶資料</p>
				</div>
				<table width="90%" border="0" align="center" cellspacing="1" cellpadding="4">
					<tr>
						<td class="columnname" width="100" align="center" bgcolor="#ccc"><strong>姓名</strong></td>
						<td class="textmessag"  bgcolor="#ffffff">{{order.customname}}</td>
					</tr>
					<tr>
						<td class="columnname" width="100" align="center" bgcolor="#ccc"><strong>電話</strong></td>
						<td class="textmessag" bgcolor="#ffffff">{{order.customphone}}</td>
					</tr>
					<tr>
						<td class="columnname" width="100" align="center" bgcolor="#ccc"><strong>地址</strong></td>
						<td class="textmessag" bgcolor="#ffffff">{{order.customaddress}}</td>
					</tr>
					<tr>
						<td class="columnname" width="100" align="center" bgcolor="#ccc"><strong>Email</strong></td>
						<td class="textmessag" bgcolor="#ffffff">{{order.customemail}}</td>
					</tr>
					<tr>
						<td class="columnname" width="100" align="center" bgcolor="#ccc"><strong>付款方式</strong></td>
						<td class="textmessag" bgcolor="#ffffff">{{order.paytype}}</td>
					</tr>
				</table>
			{% endif %}
			
		{% endif%}
		</div>
		</div>
	</div>
{% endblock %}